BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_ext" SITE "3" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "clk_ext" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "tvout[0]" SITE "142" ;
LOCATE COMP "tvout[1]" SITE "143" ;
LOCATE COMP "tvout[2]" SITE "1" ;
LOCATE COMP "tvout[3]" SITE "141" ;
LOCATE COMP "tvout[4]" SITE "140" ;
LOCATE COMP "tvout[5]" SITE "139" ;
