BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_ext" SITE "3" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "clk_ext" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "tvout[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "tvout[0]" SITE "142" ;
LOCATE COMP "tvout[1]" SITE "143" ;
LOCATE COMP "tvout[2]" SITE "1" ;
LOCATE COMP "tvout[3]" SITE "141" ;
LOCATE COMP "tvout[4]" SITE "140" ;
LOCATE COMP "tvout[5]" SITE "139" ;
IOBUF PORT "seg_led_h[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_h[8]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_led_l[8]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "seg_led_h[1]" SITE "117" ;
LOCATE COMP "seg_led_h[0]" SITE "115" ;
LOCATE COMP "seg_led_l[5]" SITE "122" ;
LOCATE COMP "seg_led_l[6]" SITE "121" ;
LOCATE COMP "seg_led_h[5]" SITE "114" ;
LOCATE COMP "seg_led_h[6]" SITE "113" ;
LOCATE COMP "seg_led_l[8]" SITE "107" ;
LOCATE COMP "seg_led_l[2]" SITE "111" ;
LOCATE COMP "seg_led_l[0]" SITE "127" ;
LOCATE COMP "seg_led_l[1]" SITE "128" ;
LOCATE COMP "seg_led_h[3]" SITE "99" ;
LOCATE COMP "seg_led_h[4]" SITE "98" ;
LOCATE COMP "seg_led_h[8]" SITE "100" ;
LOCATE COMP "seg_led_h[2]" SITE "103" ;
LOCATE COMP "seg_led_l[4]" SITE "105" ;
LOCATE COMP "seg_led_l[3]" SITE "106" ;
LOCATE COMP "seg_led_h[7]" SITE "104" ;
LOCATE COMP "seg_led_l[7]" SITE "112" ;
LOCATE COMP "btn_resetn" SITE "38" ;
IOBUF PORT "btn_resetn" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_rgb[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_rgb[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_rgb[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "led_rgb[0]" SITE "39" ;
LOCATE COMP "led_rgb[1]" SITE "41" ;
LOCATE COMP "led_rgb[2]" SITE "42" ;
IOBUF PORT "ps2clk" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "ps2dat" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "miso" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "rxd" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "mosi" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "msck" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "mss" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "audio[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "audio[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "txd" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "ps2dat" SITE "138" ;
LOCATE COMP "ps2clk" SITE "2" ;
LOCATE COMP "miso" SITE "45" ;
LOCATE COMP "rxd" SITE "133" ;
LOCATE COMP "audio[0]" SITE "21" ;
LOCATE COMP "audio[1]" SITE "22" ;
LOCATE COMP "mss" SITE "40" ;
LOCATE COMP "msck" SITE "44" ;
LOCATE COMP "mosi" SITE "71" ;
LOCATE COMP "txd" SITE "132" ;
LOCATE COMP "SRAM_ADDR[15]" SITE "69" ;
LOCATE COMP "SRAM_ADDR[16]" SITE "68" ;
LOCATE COMP "SRAM_ADDR[17]" SITE "67" ;
LOCATE COMP "SRAM_ADDR[18]" SITE "65" ;
LOCATE COMP "SRAM_ADDR[19]" SITE "63" ;
LOCATE COMP "SRAM_WE" SITE "62" ;
LOCATE COMP "SRAM_DATA[0]" SITE "54" ;
LOCATE COMP "SRAM_DATA[1]" SITE "55" ;
LOCATE COMP "SRAM_DATA[2]" SITE "56" ;
LOCATE COMP "SRAM_DATA[3]" SITE "57" ;
LOCATE COMP "SRAM_DATA[4]" SITE "58" ;
LOCATE COMP "SRAM_DATA[5]" SITE "59" ;
LOCATE COMP "SRAM_DATA[6]" SITE "60" ;
LOCATE COMP "SRAM_DATA[7]" SITE "61" ;
LOCATE COMP "SRAM_CE" SITE "52" ;
LOCATE COMP "SRAM_ADDR[0]" SITE "50" ;
LOCATE COMP "SRAM_ADDR[1]" SITE "49" ;
LOCATE COMP "SRAM_ADDR[2]" SITE "48" ;
LOCATE COMP "SRAM_ADDR[3]" SITE "47" ;
LOCATE COMP "SRAM_ADDR[4]" SITE "43" ;
LOCATE COMP "SRAM_ADDR[5]" SITE "73" ;
LOCATE COMP "SRAM_ADDR[6]" SITE "74" ;
LOCATE COMP "SRAM_ADDR[7]" SITE "75" ;
LOCATE COMP "SRAM_ADDR[8]" SITE "76" ;
LOCATE COMP "SRAM_OE" SITE "77" ;
LOCATE COMP "SRAM_UB" SITE "78" ;
LOCATE COMP "SRAM_LB" SITE "81" ;
LOCATE COMP "SRAM_DATA[10]" SITE "87" ;
LOCATE COMP "SRAM_DATA[11]" SITE "86" ;
LOCATE COMP "SRAM_DATA[12]" SITE "85" ;
LOCATE COMP "SRAM_DATA[13]" SITE "84" ;
LOCATE COMP "SRAM_DATA[14]" SITE "83" ;
LOCATE COMP "SRAM_DATA[15]" SITE "82" ;
LOCATE COMP "SRAM_DATA[9]" SITE "89" ;
LOCATE COMP "SRAM_DATA[8]" SITE "91" ;
LOCATE COMP "SRAM_ADDR[9]" SITE "92" ;
LOCATE COMP "SRAM_ADDR[10]" SITE "93" ;
LOCATE COMP "SRAM_ADDR[11]" SITE "94" ;
LOCATE COMP "SRAM_ADDR[12]" SITE "95" ;
LOCATE COMP "SRAM_ADDR[13]" SITE "96" ;
LOCATE COMP "SRAM_ADDR[14]" SITE "97" ;
IOBUF PORT "SRAM_ADDR[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_ADDR[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_CE" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_LB" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_OE" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_UB" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_WE" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
IOBUF PORT "SRAM_DATA[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=FAST ;
